body{background-color: #2892D7;}
h1{width: 500px;
    color:#2892D7;
    text-align: center;
margin:0 auto;
background-color: #85D6FF;}
h2{color:white;
    width: 500px;
    text-align:center;
    margin:1em auto;}
h3{color: white;
    text-align:center;
    margin:0 auto;}
h4{color: white;
    text-align:center;
    margin:0 auto;}
h5{color: white;
    text-align: center;
    margin:0 auto;}
h6{color: white;
    text-align:center;
    margin:0 auto;}
h{color: white;
    text-align:center;
    margin:0 auto;}
audio{text-align: center;
    margin: 0 auto;}
